<!DOCTYPE html>
<html>
  <head>
    <%- include('../includes/head.ejs'); %>
    <title>Dashboard - SIMPIC 2020</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css" integrity="sha256-2bAj1LMT7CXUYUwuEnqqooPb1W0Sw0uKMsqNH0HwMa4=" crossorigin="anonymous" />
    <style>
      .tab span ***REMOVED***
        padding-left: 1rem;
  ***REMOVED***
      .tab span::before ***REMOVED***
        content: "- ";
  ***REMOVED***
    </style>
  </head>
  <body>
    <%- include('nav.ejs'); %>
    <div style="height: 100px; background: black;"></div>

    <div class="container">
      <br><br>
      <h2>Dashboard - Team #<%= user.get('code') %></h2>
      <p class="text-muted">Team #<%= user.get('code') %></p>

      <%
        let status = user.get('status') || [];
        let extra = user.get('extra') || [];
      %>
      <br>
      <table class="table table-borderless table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Details</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td><b>Application period (Oct1 - Oct21, 2019)</b></td>
            <td></td>
          </tr>
          <%
            let comment = user.get('comment');
            for (let i = 0; i < 4; i++) ***REMOVED***
              status[i] = status[i] || 'Not submitted';
        ***REMOVED***
            ['School and team information', 'Letter of Approval', 'Motivation Letter', 'Short Essay'].forEach((e, i) => ***REMOVED***
          %>
              <tr>
                <th scope="row"><%= i+1 %></th>
                <td><%= e %></td>
                <td>
                  <%
                    if (status[i] == 'Unapproved') ***REMOVED***
                  %>
                      <a href='#' onclick="swal.fire('<%= comment[i] || 'N/A' %>'); return false;" style="color: red;"><%= status[i] %></a>
                  <%
                ***REMOVED***
                    else ***REMOVED***
                  %>
                      <span style="<%= status[i] == 'Approved' ? 'color: green;' : '' %>"><%= status[i] %></span>
                  <%
                ***REMOVED***
                  %>
                </td>
              </tr>
          <%
        ***REMOVED***);
          %>
          <tr>
            <th scope="row"></th>
            <td><span style="color: blue">*After each status is submitted, please wait within 48 hours. Your submitted status will be either 'Approved', or <span style="color: orange;">'Unapproved'</span><br>*If your all four submitted statuses is 'Approved', your registration is completed.</span>
              
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><b>Payment period (Nov26 - Dec24, 2019)</b></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td><a href="http://www1.si.mahidol.ac.th/division/conference/conference/sm_login.php?sm_id=838&menu=1" target="_blank">Payment</a></td>
            <td><%- user.get('payment') == 'Paid' ? '<span style="color: green">Paid</span>' : '<span style="color: orange">Unpaid</span>' %></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><b><a href="https://docs.google.com/forms/d/1v6Zmg9wk9F7BdylsCcQrvcnpcj3ekTIhQbsQ6SakJDw/edit?usp=sharing">Extra information</a></b></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Sightseeing route</td>
            <td><%- extra[0] == 'true' ? '<span style="color: green">Confirmed</span>' : '<span style="color: orange">Complete <a href="https://docs.google.com/forms/d/1v6Zmg9wk9F7BdylsCcQrvcnpcj3ekTIhQbsQ6SakJDw/edit?usp=sharing">here</a></span>' %></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Flight information</td>
            <td><%= extra[1] || 'N/A' %></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Your accomodation</td>
            <td><%= extra[2] || 'N/A' %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <%- include('../includes/body.ejs'); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js" integrity="sha256-7OUNnq6tbF4510dkZHCRccvQfRlV3lPpBTJEljINxao=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(() => ***REMOVED***
        $('.nav-link[href="/status"]').each(function (i) ***REMOVED***
          let self = this;
          window.setTimeout(() => ***REMOVED***
            $(self).addClass('active');
      ***REMOVED***, 500);
    ***REMOVED***);
        <%
        if (user.get('payment') != 'Paid') ***REMOVED***
          if (user.get('type') == 'early') ***REMOVED***
        %>
            Swal.fire(`Congratulations`, 
`Your team has been selected to participating in SIMPIC 2020.<br>
Please complete the following tasks within December 24, 2019 to confirm your participations.<br>
1) Make the payment of the registration fee through <a href="http://www1.si.mahidol.ac.th/division/conference/conference/sm_login.php?sm_id=838&menu=1">this link</a> and Your team registration fee is <b><u>24,500 Baht</u></b><br> 
2) Complete the Additional information form via <a href="https://docs.google.com/forms/d/1v6Zmg9wk9F7BdylsCcQrvcnpcj3ekTIhQbsQ6SakJDw/edit?usp=sharing">this link</a> including selection of the sightseeing routes<br>
3) Follow us both on Facebook: SIMPIC & Instagram: @simpic_official for upcoming essential information.`);
        <%
      ***REMOVED*** else if (user.get('type') == 'regular') ***REMOVED***
        %>
            Swal.fire(`Congratulations`,
`Your team has been selected to participating in SIMPIC 2020.<br>
Please complete the following tasks within December 24, 2019 to confirm your participations.<br>
1) Make the payment of the registration fee through <a href="http://www1.si.mahidol.ac.th/division/conference/conference/sm_login.php?sm_id=838&menu=1">this link</a> and Your team registration fee is <b><u>26,500 Baht</u></b><br> 
2) Complete the Additional information form via <a href="https://docs.google.com/forms/d/1v6Zmg9wk9F7BdylsCcQrvcnpcj3ekTIhQbsQ6SakJDw/edit?usp=sharing">this link</a> including selection of the sightseeing routes<br>
3) Follow us both on Facebook: SIMPIC & Instagram: @simpic_official for upcoming essential information.`);
        <%
      ***REMOVED*** else if (user.get('type') == 'observer') ***REMOVED***
        %>
            Swal.fire(`Almost Complete to be participating in SIMPIC 2020 as an Observer.`,
`Please complete the following tasks within December 24, 2019 to confirm your participations.<br>
1) Make the payment of the registration fee through <a href="http://www1.si.mahidol.ac.th/division/conference/conference/sm_login.php?sm_id=838&menu=1">this link</a> and Your registration fee is <b><u>11,500 Baht</u></b><br>
2) Complete the Additional information form via <a href="https://docs.google.com/forms/d/1v6Zmg9wk9F7BdylsCcQrvcnpcj3ekTIhQbsQ6SakJDw/edit?usp=sharing">this link</a> including selection of the sightseeing routes<br>
3) Follow us both on Facebook: SIMPIC & Instagram: @simpic_official for upcoming essential information.`);
        <%
      ***REMOVED***
    ***REMOVED***
        %>
  ***REMOVED***);
    </script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js" integrity="sha256-3Iu0zFU6cPS92RSC3Pe4DBwjIV/9XKyzYTqKZzly6A8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script> -->
  </body>
</html>
